*{
  transition: 299ms all;
}

.black{
  width:200px;
  height:200px;
  border:2px solid black;
  background-color: red;
}

.App{
  height: auto;
  background : linear-gradient(rgb(53, 38, 138), rgb(31, 19, 99))
}

.center{display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: black;}

  #root{
    height: 100vh;
  }